.car-block {
    padding-top: 30px;
    padding-bottom: 30px;
}

.car-container {
    background-color: #1B191A;
    width: 50px;
    height: 50px;
    padding: 10px;
    position: absolute;
}

.car-logo {
    width: 85%;
    height: auto;
    transition-duration: 0.4s;
}

.car-logo:hover {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.car-texte {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-left: 100px;
    color: white;
    width: 450px;
}

.car-block-texte {
    height:50px
}

.car-titre {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1.5px;
    line-height: 50px;
    padding-left: 100px;
    color: white;
    width: 450px;
}

@media screen and (max-width: 1450px) {
    .car-block {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 1350px) {
    .car-block {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .car-texte {
        font-size: 12px;
    }
}

@media screen and (max-width: 1275px) {
    .car-block {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

@media screen and (max-width: 1200px) {
    .car-texte {
        font-size: 14px;
        width: 80%
    }
    .car-block {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .car-titre {
        width: 100px
    }
}

@media screen and (max-width: 600px) {
    .car-block-texte {
        width: 80%
    }
    .car-texte {
        font-size: 12px;
    }
}