.block {
    display: flex;
    background-color: #1B191A;
    height: 65vw;
}


.block-texte {
    
    color: white;
    height: 100%;
    padding: 72px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.block-velo {
    width: auto;
    height: 117%;
}

.title {
    font-family: 'Montserrat';
    font-size: 38px;
    padding-bottom: 40px;
    width: 100%
}

.subhead {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 35px;
    width: 100%
}

.texte {
    width: 80%;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: white
}

.button {
    background: #EED32E;
    border-radius: 6px;
    color: black;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    width: 286px;
    padding: 20px;
    margin: 62px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color: #1B191A;
    cursor: pointer;
}

@media screen and (max-width: 460px) {
    .button {
        padding: 15px;
        margin: 40px;
        width: 215px;
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .block-texte {
        padding: 28px;
        width: 100%;
    }
    .title {
        font-size: 25px;
        width: 100%;
    }
    .subhead {
        font-size: 20px;
        width: 100%;
    }
    .texte {
        width: 70%;
        font-size: 12px;
    }
    .button {
        margin: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .block-texte {
        width: 100%;
        padding: 45px
    }
    .title {
        font-size: 32px;
        padding-bottom: 35px;
        width: 100%
    }
    .subhead {
        font-size: 20px;
        padding-bottom: 32px;
        width: 100%
    }
    .texte {
        width: 70%
    }
}

@media screen and (max-width: 1200px) {
    .block-velo {
        height: 0px;
    }
    .block {
        height: 100%
    }
    .block-texte {
        padding: 72px
    }
    .texte {
        width: 100%;
        font-size: 14px;
    }
    .title {
        font-size: 38px;
        padding-bottom: 40px;
    }
    .subhead {
        font-size: 24px;
        padding-bottom: 38px;
    }
}


@media screen and (max-width: 1275px) {
    .block-texte {
        padding: 62px;
    }

}

@media screen and (max-width: 1350px) {
    .title {
        font-size: 25px;
        padding-bottom: 30px;
    }
    .subhead {
        font-size: 17px;
        padding-bottom: 28px;
    }
    .texte {
        font-size: 12px;
    }
}


@media screen and (max-width: 1450px) {
    .title {
        font-size: 32px;
        padding-bottom: 35px;
    }
    .subhead {
        font-size: 20px;
        padding-bottom: 32px;
    }
}

@media screen and (min-width: 1550px) {
    .title {
        font-size: 40px;
        padding-bottom: 40px;
    }
    .subhead {
        font-size: 28px;
        padding-bottom: 38px;
    }
}

@media screen and (min-width: 1700px) {
    .block-texte {
        padding: 82px;
        padding-right: 0px;
    }
    .subhead {
        font-size: 32px;
        padding-bottom: 45px;
    }
    .texte {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 19px;
    }
    .button {
        font-size: 16px;
    }
}

@media screen and (min-width: 1800px) {
    .title {
        font-size: 40px;
        padding-bottom: 50px;
    }
    .subhead {
        font-size: 35px;
        padding-bottom: 45px;
    }
    .button {
        padding: 25px;
        margin: 72px
    }
}

@media screen and (min-width: 1900px) {
    .block-texte {
        padding: 105px;
        padding-right: 0px;
    }
    .title {
        font-size: 42px;
        padding-bottom: 58px;
    }
    .subhead {
        font-size: 38px;
        padding-bottom: 52px;
    }
    .texte {
        line-height: 22px;
    }
}









